@import "tailwindcss";

@layer {
	.no-scrollbar {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
	.no-scrollbar::-webkit-scrollbar,
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
}
@theme {
	/* SCREEN SIZES */
	--breakpoint-sm: 376px;
	--breakpoint-md: 664px;
	--breakpoint-lg: 976px;
	--breakpoint-xl: 1440px;
}
